header {
    background-size: cover;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
}
.logo {
    font-size: 30px;
    color: #4c5a69;
    font-weight: 100;
}
.menu {
    display: flex;
}
.menu li {
    list-style: none;
    margin: 10px;
}
.menu li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}
.menu li a:hover {
    padding: 5px 10px;
    background: #fff;
    color: #8B47A3;
    border-radius: 15px;
}